body{
    color:#393939;
}
.header{
    height:103px;
    border-top:2px solid#fff;
    box-sizing:border-box;
    background:#fff;
    margin:auto;
    position:relative
}
.logo{
    width:230px;
    height:63px;
    margin:20px auto
}
.logo a{
    display:block;
    width:230px;
    height:63px;
    background:url(../images/login/logo.png)no-repeat;
    text-indent:-9999px
}
.back_menu ul{
    display:flex;
    margin-top:-68px;
    margin-left:35px;
}
.back{
    display:block;
    width:45px;
    height:35px;
    background:url(../images/login/back.png)no-repeat;
    text-indent:-9999px;
    margin-right:30px;
}
.home{
    display:block;
    width:30px;
    height:30px;
    background:url(../images/login/home.png)no-repeat;
    text-indent:-9999px
}
.join{
    margin-top:80px
}
.join h2{
    font-size:20px;
    font-weight:500;
    text-align:center;
    margin-bottom:35px;
}
.join_form{
    margin-left:35px;
    margin-right:35px
}
.join_form fieldset{
    border:none;
    padding:0
}
.join_form label{
    font-weight:500;
    margin-left:5px;
    position:relative;
    top:-3px
}
.txt1{
    font-weight:500;
    color:#aaa;
    margin-bottom:30px;
}
.join1 input{
    width:18px;
    height:18px;
    accent-color:black;
}
.join1 p{
    margin-top:15px;
}
.join1 a{
    text-decoration:underline;
    position:absolute;
    right:35px;
}
.apply_5{
    margin-left:35px;
}
.apply_6{
    margin-bottom:50px;
}
button{
    margin-top:50px;
    width:100%;
    height:45px;
    background:#393939;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    margin-top:30px;
    margin-bottom:70px;
    cursor:pointer
}
.join2 p{
    margin-bottom:30px;
}
.join2 input{
    width:100%;
    height:45px;
    border:1px solid#aaa;
    box-sizing:border-box;
    border-radius:5px;
    margin-top:10px;
    padding:2px 2px 2px 10px;
}
.welcome{
    text-align:center;
    font-weight:500;
    margin-bottom:30px;
}
.join2{
    display:none;
}
.err_txt{font-size:14px; font-weight:500; color:tomato}
.blueText{font-weight:bold;color:rgb(40, 92, 188)}
.redText{font-weight:bold;color:rgb(251, 77, 14)}