body{
    color:#393939;
}
.header{
    height:103px;
    border-top:2px solid#fff;
    box-shadow:2px 1px 6px 1px gray;
    box-sizing:border-box;
    background:#fff;
    margin:auto;
    position:relative
}
.logo{
    width:230px;
    height:63px;
    margin:20px auto
}
.logo a{
    display:block;
    width:230px;
    height:63px;
    background:url(../images/login/logo.png)no-repeat;
    text-indent:-9999px
}
.back{
    display:block;
    width:45px;
    height:35px;
    background:url(../images/login/back.png)no-repeat;
    text-indent:-9999px;
    margin-top:-68px;
    margin-left:35px;
}
.gnb_wrap{
    position:absolute;
    width:100%;
    height:2000px;
    left:0;top:-2px;
    background:#d6c9c1;
    z-index:10;
    /* 숨기기 */
    display:none
}
.gnb{
    margin-top:207px;
    margin-left:35px;
    margin-right:35px;
}
.gnb a{
    color:#fff
}
.menu{
    margin-top:20px;
}
.menu li{
    margin-left:53px;
    font-size:26px;
    font-weight:500
}
#shop_cate a{
    margin-left:35px;
    font-size:16px;
    color:#a08d7c
}
.gnb1_more{
    position:absolute;
    right:40px;
    top:210px;
    width:23px;
    height:24px;
}
.gnb2{
    margin-top:30px;
}
.user_menu{
    font-size:18px;
    font-weight:500;
    margin-top:-170px
}
.user_menu li{
    float:left;
    margin-right:30px
}
.search_box1{
    clear:both
}
.search_box1 fieldset{
    border:none;
    padding:0
}
.search_box1 button{
    width:30px;
    height:30px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    position:relative;
    top:-40px;
    cursor:pointer;
    float:right
}
.search_box1 input{
    margin-top:60px;
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    background:#d6c9c1;
    border:0 none;
    border-bottom:2px solid#fff;
    outline:0 none
}
.gnb_exit{
    display:block;
    width:35px;
    height:35px;
    background:url(../images/exit.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    top:-160px;
    float:right;
}
.fixed_menu{
    position:fixed;
    border-top:1px solid#a08d7c;
    background:#fff;
    left:0;
    right:0;
    bottom:0;
    height:6rem;
    z-index:100
}
.fixed_menu ul{
    display:flex;
    justify-content:center;
    margin-left:35px;
    margin-right:35px;
}
.fixed_menu li{
    padding:30px 11.5% 30px 11.5%;
}
.f_m1{
    display:block;
    width:41px;
    height:33px;
    background:url(../images/fm_menu.png)no-repeat;
    text-indent:-9999px;
}
.f_m2{
    display:block;
    width:30px;
    height:30px;
    background:url(../images/fm_home.png)no-repeat;
    text-indent:-9999px;
}
.f_m3{
    display:block;
    width:36px;
    height:30px;
    background:url(../images/fm_wish.png)no-repeat;
    text-indent:-9999px;
}
.f_m4{
    display:block;
    width:34px;
    height:32px;
    background:url(../images/fm_my.png)no-repeat;
    text-indent:-9999px;
}
.login{
    margin-top:80px
}
.login h2{
    font-size:20px;
    font-weight:500;
    text-align:center;
    margin-bottom:35px;
}
.login p{
    margin-bottom:30px
}
.log_form{
    margin-left:35px;
    margin-right:35px
}
.log_form fieldset{
    border:none;
    padding:0
}
.log_form label{
    font-weight:500;
}
.log_form input{
    width:100%;
    height:45px;
    border:1px solid#aaa;
    box-sizing:border-box;
    border-radius:5px;
    margin-top:10px;
    padding:2px 2px 2px 10px;
}
#find{
    width:200px;
    height:45px;
    border:1px solid#aaa;
    border-radius:5px;
    box-sizing:border-box;
    background:#fff;
    color:#393939;
    font-weight:bold;
    float:right;
}
#log{
    clear:both;
    width:100%;
    height:45px;
    background:#393939;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    margin-top:30px;
    margin-bottom:70px;
    cursor:pointer
}
.social_log{
    display:flex;
    justify-content:center
}
.n_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_naver.png)no-repeat;
    text-indent:-9999px;
    margin-right:50px
}
.k_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_kakao.png)no-repeat;
    text-indent:-9999px;
    margin-right:50px
}
.a_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_apple.png)no-repeat;
    text-indent:-9999px
}
.err_txt{font-size:14px; font-weight:500; color:tomato}