body{
    color:#393939;
}
.header{
    height:70px;
    border-top:2px solid#fff;
    box-shadow:2px 1px 6px 1px gray;
    box-sizing:border-box;
    background:#fff;
    margin:auto;
    position:relative
}
.logo{
    width:150px;
    height:41px;
    margin:15px auto 0;
}
.logo a{
    display:block;
    width:150px;
    height:41px;
    background:url(../images/login/logo.png)no-repeat;
    text-indent:-9999px
}
.back{
    display:block;
    width:32px;
    height:25px;
    background:url(../images/login/back.png)no-repeat;
    text-indent:-9999px;
    margin-top:-37px;
    margin-left:3%
}
.gnb_wrap{
    position:absolute;
    width:100%;
    height:2000px;
    left:0;top:-2px;
    background:#393939;
    z-index:10;
    /* 숨기기 */
    display:none
}
.gnb{
    margin-top:207px;
    margin-left:3%;
    margin-right:3%;
}
.gnb a{
    color:#fff
}
.menu{
    margin-top:20px;
}
.menu li{
    margin-left:5%;
    font-size:26px;
    font-weight:500
}
#shop_cate{
    display:none;
}
#shop_cate a{
    margin-left:50px;
    font-size:16px;
    color:#999;
}
.gnb1_more{
    position:absolute;
    right:5%;
    top:205px;
    width:23px;
    height:24px;
    cursor:pointer;
}
.gnb2{
    margin-top:30px;
}
.user_menu{
    font-size:18px;
    font-weight:500;
    margin-top:-170px
}
.user_menu li{
    float:left;
    margin-right:30px
}
.search_box1{
    clear:both
}
.search_box1 fieldset{
    border:none;
    padding:0
}
.search_box1 button{
    width:25px;
    height:25px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    position:relative;
    top:-32px;
    cursor:pointer;
    float:right
}
.search_box1 input{
    margin-top:60px;
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    background:#393939;
    border:0 none;
    border-bottom:2px solid#fff;
    outline:0 none
}
.gnb_exit{
    display:block;
    width:22px;
    height:22px;
    background:url(../images/exit.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    top:-155px;
    float:right;
}
.fixed_menu{
    position:fixed;
    border-top:1px solid#393939;
    background:#fff;
    left:0;
    right:0;
    bottom:0;
    height:5rem;
    z-index:100
}
.fixed_menu ul{
    display:flex;
    justify-content:center;
    margin-left:5%;
    margin-right:5%;
}
.fixed_menu li{
    padding:25px 11.5% 25px 11.5%;
}
.f_m1{
    display:block;
    width:24px;
    height:20px;
    background:url(../images/login/fm_menu.png)no-repeat;
    text-indent:-9999px;
    margin-top:4px
}
.f_m2{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/login/fm_home.png)no-repeat;
    text-indent:-9999px;
}
.f_m3{
    display:block;
    width:29px;
    height:24px;
    background:url(../images/login/fm_wish.png)no-repeat;
    text-indent:-9999px;
    margin-top:2px
}
.f_m4{
    display:block;
    width:27px;
    height:25px;
    background:url(../images/login/fm_my.png)no-repeat;
    text-indent:-9999px;
}
.login{
    margin-top:80px
}
.login h2{
    font-size:20px;
    font-weight:500;
    text-align:center;
    margin-bottom:35px;
}
.login p{
    margin-bottom:30px
}
.join{
    float:right;
    margin-top:-120px;
    margin-right:35px;
    font-size:14px;
}
.log_form{
    clear:both;
    margin-left:3%;
    margin-right:3%;
}
.log_form fieldset{
    border:none;
    padding:0
}
.log_form label{
    font-weight:500;
}
.log_form input{
    width:100%;
    height:45px;
    border:1px solid#aaa;
    box-sizing:border-box;
    border-radius:5px;
    margin-top:10px;
    padding:2px 2px 2px 10px;
}
#find{
    width:160px;
    height:45px;
    border:1px solid#aaa;
    border-radius:5px;
    box-sizing:border-box;
    background:#fff;
    color:#393939;
    font-weight:bold;
    float:right;
    cursor:pointer;
}
#log{
    clear:both;
    width:100%;
    height:45px;
    background:#393939;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    margin-top:30px;
    cursor:pointer
}
.social_log{
    display:flex;
    justify-content:center;
    margin-bottom:110px;
}
.n_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_naver.png)no-repeat;
    text-indent:-9999px;
    margin-right:50px
}
.k_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_kakao.png)no-repeat;
    text-indent:-9999px;
    margin-right:50px
}
.a_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_apple.png)no-repeat;
    text-indent:-9999px
}
.err_txt{font-size:14px; font-weight:500; color:tomato}