body{
    color:#393939;
}
.header{
    height:103px;
    border-top:2px solid#fff;
    box-sizing:border-box;
    background:#fff;
    margin:auto;
    position:relative
}
.logo{
    width:230px;
    height:63px;
    margin:20px auto
}
.logo a{
    display:block;
    width:230px;
    height:63px;
    background:url(../images/login/logo.png)no-repeat;
    text-indent:-9999px
}
.back{
    display:block;
    width:45px;
    height:35px;
    background:url(../images/login/back.png)no-repeat;
    text-indent:-9999px;
    margin-top:-68px;
    margin-left:35px;
}
.login{
    margin-top:80px
}
.login h2{
    font-size:20px;
    font-weight:500;
    text-align:center;
    margin-bottom:35px;
}
.login p{
    margin-bottom:30px
}
.log_form{
    margin-left:35px;
    margin-right:35px
}
.log_form fieldset{
    border:none;
    padding:0
}
.log_form label{
    font-weight:500;
}
.log_form input{
    width:100%;
    height:45px;
    border:1px solid#aaa;
    box-sizing:border-box;
    border-radius:5px;
    margin-top:10px;
    padding:2px 2px 2px 10px;
}
#find{
    width:200px;
    height:45px;
    border:1px solid#aaa;
    border-radius:5px;
    box-sizing:border-box;
    background:#fff;
    color:#393939;
    font-weight:bold;
    float:right;
}
#log{
    clear:both;
    width:100%;
    height:45px;
    background:#393939;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    margin-top:30px;
    margin-bottom:70px;
    cursor:pointer
}
.social_log{
    display:flex;
    justify-content:center
}
.n_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_naver.png)no-repeat;
    text-indent:-9999px;
    margin-right:50px
}
.k_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_kakao.png)no-repeat;
    text-indent:-9999px;
    margin-right:50px
}
.a_log{
    display:block;
    width:80px;
    height:80px;
    background:url(../images/login/log_apple.png)no-repeat;
    text-indent:-9999px
}
.err_txt{font-size:14px; font-weight:500; color:tomato}