/* 태블릿 */
.header{
    height:103px;
    border-top:2px solid#393939;
    box-sizing:border-box;
    margin:auto;
    position:relative;
    z-index:1;
}
.logo{
    width:117px;
    height:83px;
    margin:10px auto 0;
}
.logo a{
    display:block;
    width:117px;
    height:83px;
    background:url(../images/logo.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    z-index:1;
}
.gnb0{
    margin-left:1%;
    margin-right:1%;
}
.gnb0 > ul{
    display:flex;
    margin-top:-53px
}
.gnb0 ul > li{
    font-size:16px;
    font-weight:500;
}
.gnb0 a{
    color:#fff;
    padding:15px
}
.user_menu0{
    float:right;
    position:relative;
    top:35px;
}
.gnb_wrap{
    position:absolute;
    width:100%;
    height:2000px;
    left:0;top:-2px;
    background:#393939;
    z-index:11;
    /* 숨기기 */
    display:none
}
.gnb{
    margin-top:207px;
    margin-left:3%;
    margin-right:3%;
}
.gnb a{
    color:#fff
}
.menu{
    margin-top:20px;
}
.menu li{
    margin-left:5%;
    font-size:26px;
    font-weight:500;
}
#shop_cate{
    display:none;
}
#shop_cate a{
    margin-left:50px;
    font-size:16px;
    color:#999;
}
#shop_cate a:hover{
    color:#000;
    font-weight:bold;
}
.gnb1_more{
    position:absolute;
    right:5%;
    top:205px;
    width:23px;
    height:24px;
    cursor:pointer;
}
.gnb2{
    margin-top:30px;
}
.user_menu{
    font-size:18px;
    font-weight:500;
    margin-top:-170px
}
.user_menu li{
    float:left;
    margin-right:30px;
}
.search_box1{
    clear:both
}
.search_box1 fieldset{
    border:none;
    padding:0;
}
.search_box1 button{
    width:25px;
    height:25px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    position:relative;
    top:-32px;
    cursor:pointer;
    float:right;
}
.search_box1 input{
    margin-top:60px;
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    background:#393939;
    border:0 none;
    border-bottom:2px solid#fff;
    outline:0 none
}
.gnb_exit{
    display:block;
    width:22px;
    height:22px;
    background:url(../images/exit.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    top:-155px;
    float:right;
}
.fixed_menu{
    position:fixed;
    border-top:1px solid#393939;
    background:#fff;
    left:0;
    right:0;
    bottom:0;
    height:5rem;
    z-index:100
}
.fixed_menu ul{
    display:flex;
    justify-content:center;
    margin-left:5%;
    margin-right:5%;
}
.fixed_menu li{
    padding:25px 11.5% 25px 11.5%;
}
.f_m1{
    display:block;
    width:24px;
    height:20px;
    background:url(../images/login/fm_menu.png)no-repeat;
    text-indent:-9999px;
    margin-top:4px
}
.f_m2{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/login/fm_home.png)no-repeat;
    text-indent:-9999px;
}
.f_m3{
    display:block;
    width:29px;
    height:24px;
    background:url(../images/login/fm_wish.png)no-repeat;
    text-indent:-9999px;
    margin-top:2px
}
.f_m4{
    display:block;
    width:27px;
    height:25px;
    background:url(../images/login/fm_my.png)no-repeat;
    text-indent:-9999px;
}
/* .search_box1, .gnb_exit,  */.gnb_btn, .cart{
    display:none
}
.search{
    display:block;
    width:30px;
    height:30px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    float:right;
    margin-right:35px;
    margin-top:35px;
}
.search_box2{
    width:450px;
    position:absolute;
    top:130px;
    right:35px;
    /* 숨기기 */
    display:none
}
.search_box2 form{
    width:100%;
    height:210px;
    background:#fff;
    position:relative;
    z-index:10;
}
.search_box2 fieldset{
    border:none;
    padding:0;
    margin-left:60px;
    margin-right:60px;
}
.search_box2 input{
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    border:0 none;
    border-bottom:2px solid#000;
    outline:0 none;
    margin-top:60px;
}
.search_box2 button{
    width:30px;
    height:30px;
    background:url(../images/search_black.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    cursor:pointer;
    float:right;
    position:relative;
    top:-35px
}
.popular{
    margin-top:20px;
    margin-left:10px
}
.popular p{
    margin-top:5px;
    margin-left:15px;
}
.popular a{
    margin-right:18px;
    font-size:13px;
}
.sch_exit{
    display:block;
    width:20px;
    height:20px;
    background:url(../images/exit_black.png)no-repeat;
    text-indent:-9999px;
    background-size:cover;
    position:absolute;
    margin-top:-175px;
    right:15px
}
/* 메인 */
.content{
    clear:both;
    width:100%;
    margin:auto;
    position: relative;
    top:-125px
}
.main_image img{
    width:100%
}
.b_prod{
    background:#ece6e3;
    margin-top:-5px;
    margin-bottom:65px;
}
.b_prod h3{
    padding:45px 0 25px 0;
    font-size:24px;
    font-weight:500;
    text-align:center
}
.b_prod div{
    margin:auto;
    text-align:center;
    display:flex;
}
.b_prod p{
    display:inline-block;
    margin:25px;
    width:70%;
}
.b_prod img{
    width:100%
}
.e_wrap{
    margin:0 35px 0 35px;
}
.e_prod{
    clear:both;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}
.e_prod ul{
    text-align:center;
}
.e_prod li{
    display:inline-block;
    width:50%;
}
.e_prod img{
    width:100%;
}
.e_line{
    width:100%;
    height:60px;
    background:#d6c9c1;
}
.event{
    clear:both;
    /* width:50%; */
    text-align:center;
    margin:0 auto;
}
.event_1 img{
    max-width: 100%;
    width:100%;
}
.event_2 img{
    max-width: 100%;
    width:100%
}
.b_story1{
    display:none;
}
.b_story2{
    font-size:20px;
    font-weight:500;
    text-align:right;
    margin-top:35px;
    margin-right:35px;
}
.topbtn #toTop{
    display:block;
    position:fixed;
    bottom:120px;
    right:35px;
    overflow:hidden;
    z-index: 20;
}
#toTop{
    transition:all 0.3s ease-out;
}
#toTop:hover{
    transform:translateY(-5px);
}
.footer{
    margin-top:-50px;
    font-size:14px;
}
.f_wrap{
    height:428px;
    background:#ece6e3;
    position:relative;
}
.cs{
    display:none
}
.customer ul{
    color:#9c9a9b;
    padding:25px 0 25px 60px;
    float:right;
    margin-top:90px;
    margin-right:50px;
}
.customer li{
    line-height:25px;
    text-align:center;
}
.customer li a{
    color:#9c9a9b;
}
.f_info{
    clear:both;
    display:inline-block;
    color:#a08d7c;
    line-height:20px;
    position:absolute;
    margin-top:30px;
    margin-left:35px;
}
.f_info h2{
    width:117px;
    height:83px;
    background:url(../images/f_logo.png)no-repeat;
    text-indent:-9999px
}
.f_info1{
    margin-top:30px;
}
.customer1, .f_info_1{
    display:none
}
.f_link{
    position:relative;
    top:350px;
    margin-left:35px
}
.f_link ul{
    display:flex;
}
.f_link li a{
    color:#a08d7c;
    margin-right:20px;
}
.f_link li a:hover{
    color:#393939
}
.sns ul{
    display:flex;
    float:right;
    position:relative;
    margin-top:230px;
    right:-220px;
    margin-bottom:70px;
}
.sns li{
    padding:30px 10px;
    margin-bottom:100px;
}
@media screen and (max-width:767px){
    /* 모바일 */
.header{
    height:70px;
    background:#393939;
    box-shadow:2px 1px 5px 1px;
    box-sizing:border-box;
}
.logo{
    width:150px;
    height:41px;
    margin:15px auto 0;
}
.logo a{
    width:100%;
    width:150px;
    height:41px;
    background:url(../images/m_logo.png)no-repeat
}
.gnb0{
    display:none
}
.gnb_btn{
    display:block;
    width:30px;
    height:25px;
    background:url(../images/menu.png)no-repeat;
    text-indent:-9999px;
    position:absolute;
    left:3%;top:22px;
    z-index:1;
}
.sch_menu{
    position:relative;
    top:-35px;
    display:flex;
    justify-content:right;
}
.search{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    margin-right:5%;
    margin-top:0
}
.cart{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/m_cart.png)no-repeat;
    text-indent:-9999px;
    margin-right:3%;
}
.search_box2{
    width:100%;
    top:68px;
    right:0;
    /* 숨기기 */
    display:none;
}
.search_box2 form{
    z-index:1;
    /* 숨기기 아이콘 사라지면 이걸로 바꿔서 jquery 해보기 */
    /* display:none; */
}
.popular{
    margin-left:0px;
}
.popular p{
    margin-top:10px;
    margin-left:0
}
.popular a{
    margin-right:0;
    margin-left:20px;
    font-size:14px
}
.sch_exit{
    margin-top:-160px;
    right:3%
}
.content{
    top:0px
}
.b_prod div{
    display:block
}
.bp1_wrap div{
    display:flex
}
.bp2{
    display:flex
}
.bp3{
    display:flex
}
.b_story{
    height:114px;
    background:#ece6e3;
}
.b_story1{
    display:block;
}
.b_story2{
    display:none
}
.b_story p{
    font-size:20px;
    font-weight:500;
    text-align:center;
    padding:33px 0;
}
.e_line{
    height:15px;
}
.footer{
    margin-top:50px;
}
.f_wrap{
    height:auto;
    background:none;
    position:static
}
.customer, .f_info{
    display:none
}
.cs1{
    display:block;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-left:35px
}
.cs1::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.customer1{
    display:block
}
.customer1 ul{
    color:#9c9a9b;
    padding:25px 0 25px 60px;
    margin:0 0 20px 0
}
.customer1 li{
    line-height:25px;
    text-align:left
}
.customer1 li a{
    color:#9c9a9b;
}
.f_info_1{
    display:block;
    position:static;
    margin-top:0;
    margin-left:0;
}
.f_info_1 h2{
    display:block;
    text-indent:0;
    width:auto;
    height:auto;
    background:transparent;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-top:30px;
    margin-left:35px
}
.comp1::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.f_info1_1{
    margin-top:30px;
    color:#a08d7c;
    text-align:center;
    line-height:20px
}
.f_link{
    position:static;
    top:0;
    margin-top:30px;
    margin-left:0
}
.f_link ul{
    justify-content:space-evenly;
}
.f_link li a{
    margin-right:0px;
}
.sns ul{
    justify-content:center;
    float:none;
    position:static;
    margin-top:0;
    right:0;
    margin-bottom:0;
}
.sns li{
    margin-bottom:80px;
}
}