.header{
    height:70px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    background:#fff;
    border-bottom:1px solid#393939;
    z-index:11;
}
.back{
    display:block;
    width:32px;
    height:25px;
    background:url(../images/login/back.png)no-repeat;
    text-indent:-9999px;
    margin:23px 0 22px 3%;
    position:relative;
    z-index:1;
}
.gnb_wrap{
    position:absolute;
    width:100%;
    height:2000px;
    left:0;top:-2px;
    background:#393939;
    z-index:20;
    /* 숨기기 */
    display:none
}
.gnb{
    margin-top:207px;
    margin-left:3%;
    margin-right:3%;
}
.gnb a{
    color:#fff
}
.menu{
    margin-top:20px;
}
.menu li{
    margin-left:5%;
    font-size:26px;
    font-weight:500
}
#shop_cate{
    display:none;
}
#shop_cate a{
    margin-left:50px;
    font-size:16px;
    color:#999;
}
#shop_cate a:hover{
    color:#000;
    font-weight:bold;
}
.gnb1_more{
    position:absolute;
    right:5%;
    top:205px;
    width:23px;
    height:24px;
    cursor:pointer;
}
.gnb2{
    margin-top:30px;
}
.user_menu{
    font-size:18px;
    font-weight:500;
    margin-top:-170px
}
.user_menu li{
    float:left;
    margin-right:30px
}
.search_box1{
    clear:both
}
.search_box1 form{
    margin-bottom:0px;
}
.search_box1 fieldset{
    border:none;
    padding:0
}
.search_box1 button{
    width:25px;
    height:25px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    position:relative;
    top:-32px;
    cursor:pointer;
    float:right
}
.search_box1 input{
    margin-top:60px;
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    background:#393939;
    border:0 none;
    border-bottom:2px solid#fff;
    outline:0 none
}
.gnb_exit{
    display:block;
    width:22px;
    height:22px;
    background:url(../images/exit.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    top:-155px;
    float:right;
}
.fixed_menu{
    position:fixed;
    border-top:1px solid#393939;
    background:#fff;
    left:0;
    right:0;
    bottom:0;
    height:5rem;
    z-index:100
}
.fixed_menu ul{
    display:flex;
    justify-content:center;
    margin-left:5%;
    margin-right:5%;
}
.fixed_menu li{
    padding:25px 11.5% 25px 11.5%;
}
.f_m1{
    display:block;
    width:24px;
    height:20px;
    background:url(../images/login/fm_menu.png)no-repeat;
    text-indent:-9999px;
    margin-top:4px
}
.f_m2{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/login/fm_home.png)no-repeat;
    text-indent:-9999px;
}
.f_m3{
    display:block;
    width:29px;
    height:24px;
    background:url(../images/login/fm_wish.png)no-repeat;
    text-indent:-9999px;
    margin-top:2px
}
.f_m4{
    display:block;
    width:27px;
    height:25px;
    background:url(../images/login/fm_my.png)no-repeat;
    text-indent:-9999px;
}
.u_menu{
    position:relative;
    top:-48px;
    display:flex;
    justify-content:right;
}
.home{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/login/home.png)no-repeat;
    text-indent:-9999px;
    margin-right:3%;
}
.search{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/dp/search.png)no-repeat;
    text-indent:-9999px;
    margin-right:3%;
}
.cart{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/dp/cart.png)no-repeat;
    text-indent:-9999px;
    margin-right:3%;
}
.search_box2{
    width:100%;
    box-sizing:border-box;
    position:absolute;
    top:71px;
    /* 숨기기 */
    display:none;
}
.search_box2 form{
    width:100%;
    height:210px;
    box-sizing:border-box;
    box-shadow:5px 2px 3px gray;
    background:#fff;
    position: relative;
    margin-bottom:0;
}
.search_box2 fieldset{
    border:none;
    padding:0;
    margin-left:60px;
    margin-right:60px;
}
.search_box2 input{
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    border:0 none;
    border-bottom:2px solid#000;
    outline:0 none;
    margin-top:60px;

}
.search_box2 button{
    width:30px;
    height:30px;
    background:url(../images/search_black.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    cursor:pointer;
    float:right;
    position:relative;
    top:-35px;
}
.popular{
    margin-top:20px;
    margin-left:60px;
}
.popular p{
    margin-top:10px;
}
.popular a{
    margin-left:20px;
    font-size:14px
}
.sch_exit{
    display:block;
    width:20px;
    height:20px;
    background:url(../images/exit_black.png)no-repeat;
    text-indent:-9999px;
    background-size:cover;
    position:absolute;
    margin-top:-155px;
    right:35px
}
.cont img{
    width:100%;
}
.content{
    margin-left:35px;
    margin-right:35px;
}
.d_info{
    position:fixed;
    top:71px;
    right:0;
    left:0;
    background:#fff;
    z-index:1;
}
.d_info ul{
    display:flex;
    justify-content:space-evenly;
    margin-top:30px;
    margin-bottom:30px;
    font-size:18px;
}
.d_1{
    margin-top:220px;
}
.pd_wrap{
    display:flex;
}
table{
    width:50%;
    border-collapse:collapse;
    font-size:1rem;
    position:relative;
    top:-2%;
    left:2%;
    z-index:-1;
}
.pd1 img{
    width:100%
}
.pd_table th{
    text-align:left;
    font-weight:500;
    padding:3% 0 3% 0;
}
.pd_table td{
    position:relative;
    left:2%
}
.price th{
    font-size:24px;
}
.price td{
    font-size:16px;
    color:#999;
    text-decoration:line-through
}
.deli span{
    color:#999;
    margin-left:3%;
}
.st{
    font-weight:500;
}
.line{
    border-bottom:1px solid#000;
}
.c_line{
    margin-top:50px;
    border-bottom:1px solid#999;
}
.cont{
    clear:both;
}
.d_2{
    margin-top:220px;
    font-size:14px;
    display:none;
}
.d_2 h3{
    margin-bottom:10px;
}
.d_2 p{
    margin-bottom:20px;
}
.d_3{
    margin-top:220px;
    position:relative;
    display:none;
}
.q_btn{
    width:100%;
    height:40px;
    background:#7f9601;
    border-radius:5px;
    border:none;
    cursor:pointer;
    font-size:16px;
    font-weight:500;
    color:#fff;
    margin-bottom:50px;
}
.writer{
    color:rgb(107, 107, 107);
}
.qna_modi{
    text-align:right;
}
.qna_line1{
    border-bottom:1px solid#aaa;
}
.qna_line1 td{
    padding:20px 0 20px 10px;
}
.qna_line2{
    border-bottom:1px solid#a08d7c;
}
.qna_line2 td{
    padding:20px 0 20px 10px;
}
.qna ul h4{
    width:70px;
    border-radius:15px;
    font-size:14px;
    font-weight:500;
    color:#fff;
    text-align:center;
    margin-bottom:10px;
    padding:2px
}
.qna_w{
    color:rgb(95, 95, 95);
    font-size:14px;
    margin-bottom:10px;
}
.qna_w span{
    font-weight:500;
    margin-right:10px;
}
.quest{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:15px;
    padding-bottom:10px;
    border-bottom:1px solid#aaa;
}
.qna_more{
    display:none;
}
.question{
    font-size:15px;
    padding:10px 0 10px 10px;
    background:#fff7f0;
    line-height:30px;
}
.question span{
    font-size:14px;
    color:#a08d7c;
    font-weight:500
}
.answer{
    font-size:15px;
    padding:10px 0 10px 10px;
    background:#faeee4;
    border-top:1px solid#fff;
    border-bottom:1px solid#aaa;
    line-height:30px;
}
.answer span{
    font-size:14px;
    color:#7f9601;
    font-weight:500;
    line-height:30px;
}
.topbtn #toTop{
    display:block;
    position:fixed;
    bottom:140px;
    right:5%;
    overflow:hidden;
    z-index: 20;
}
#toTop{
    transition:all 0.3s ease-out;
}
#toTop:hover{
    transform:translateY(-5px);
}
.footer{
    margin-top:50px;
    font-size:14px;
}
.f_wrap{
    height:428px;
    background:#ece6e3;
    position:relative;
}
.cs{
    display:none
}
.customer ul{
    color:#9c9a9b;
    padding:25px 0 25px 60px;
    float:right;
    margin-top:90px;
    margin-right:50px;
}
.customer li{
    line-height:25px;
    text-align:center;
}
.customer li a{
    color:#9c9a9b;
}
.f_info{
    clear:both;
    display:inline-block;
    color:#a08d7c;
    line-height:20px;
    position:absolute;
    margin-top:30px;
    margin-left:35px;
}
.f_info h2{
    width:117px;
    height:83px;
    background:url(../images/f_logo.png)no-repeat;
    text-indent:-9999px
}
.f_info1{
    margin-top:30px;
}
.customer1, .f_info_1{
    display:none
}
.f_link{
    position:relative;
    top:350px;
    margin-left:35px;
}
.f_link ul{
    display:flex;
}
.f_link li a{
    color:#a08d7c;
    margin-right:20px;
}
.f_link li a:hover{
    color:#393939
}
.sns ul{
    display:flex;
    float:right;
    position:relative;
    margin-top:230px;
    right:-220px;
    margin-bottom:70px;
}
.sns li{
    padding:30px 10px;
    margin-bottom:100px;
}
@media screen and (max-width:767px){
.sch_exit{
    margin-top:-175px;
}
.popular{
    margin-left:0px;
}
.popular a{
    margin-right:0;
}
.cont img{
    width:100%;
}
.content{
    margin-left:35px;
    margin-right:35px;
}
.pd_wrap{
    display:block;
    margin-top:180px;
}
table{
    width:100%;
    border-collapse:collapse;
    font-size:1rem;
    position:relative;
    top:-2%;
    left:2%;
    z-index:-1;
}
.pd1 img{
    width:100%
}
.pd_table th{
    text-align:left;
    font-weight:500;
    padding:3% 0 3% 0;
}
.pd_table td{
    position:relative;
    left:2%
}
.price th{
    font-size:24px;
}
.price td{
    font-size:16px;
    color:#999;
    text-decoration:line-through
}
.deli span{
    color:#999;
    margin-left:3%;
}
.st{
    font-weight:500;
}
.line{
    border-bottom:1px solid#000;
}
.c_line{
    margin-top:25px;
    border-bottom:1px solid#999;
}
.cont{
    clear:both;
}
.footer{
    margin-top:50px;
    position:relative;
    z-index:0;
}
.f_wrap{
    height:auto;
    background:none;
    position:static
}
.customer, .f_info{
    display:none
}
.cs1{
    display:block;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-left:35px
}
.cs1::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.customer1{
    display:block
}
.customer1 ul{
    color:#9c9a9b;
    padding:25px 0 25px 60px;
    margin:0 0 20px 0
}
.customer1 li{
    line-height:25px;
    text-align:left
}
.customer1 li a{
    color:#9c9a9b;
}
.f_info_1{
    display:block;
    position:static;
    margin-top:0;
    margin-left:0;
}
.f_info_1 h2{
    display:block;
    text-indent:0;
    width:auto;
    height:auto;
    background:transparent;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-top:30px;
    margin-left:35px
}
.comp1::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.f_info1_1{
    margin-top:30px;
    color:#a08d7c;
    text-align:center;
    line-height:20px
}
.f_link{
    position:static;
    top:0;
    margin-top:30px;
    margin-left:0
}
.f_link ul{
    justify-content:space-evenly;
}
.f_link li a{
    margin-right:0px;
}
.sns ul{
    justify-content:center;
    float:none;
    position:static;
    margin-top:0;
    right:0;
    margin-bottom:0;
}
}