.header{
    height:103px;
    border-top:2px solid#a08d7c;
    box-sizing:border-box;
    background:#a08d7c;
    margin:auto;
    position:relative
}
.qna h2{
    text-align:center;
    margin-top:30px;
}
.back{
    display:block;
    width:45px;
    height:35px;
    background:url(../images/login/back.png)no-repeat;
    text-indent:-9999px;
    margin:-30px 0 30px 35px;
    position:relative;
    z-index:1;
}
.gnb_wrap{
    position:absolute;
    width:100%;
    height:2000px;
    left:0;top:-2px;
    background:#d6c9c1;
    z-index:10;
    /* 숨기기 */
    display:none
}
.gnb{
    margin-top:207px;
    margin-left:35px;
    margin-right:35px;
}
.gnb a{
    color:#fff
}
.menu li{
    margin-left:53px;
    font-size:26px;
    font-weight:500
}
#shop_cate a{
    margin-left:35px;
    font-size:16px;
    color:#a08d7c
}
.gnb2{
    margin-top:30px;
}
.user_menu{
    font-size:18px;
    font-weight:500;
    margin-top:-600px
}
.user_menu li{
    float:left;
    margin-right:30px
}
.search_box1{
    clear:both
}
.search_box1 fieldset{
    border:none;
    padding:0
}
.search_box1 button{
    width:30px;
    height:30px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    position:relative;
    top:-40px;
    cursor:pointer;
    float:right
}
.search_box1 input{
    margin-top:60px;
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    background:#d6c9c1;
    border:0 none;
    border-bottom:2px solid#fff;
    outline:0 none
}
.gnb_exit{
    display:block;
    width:35px;
    height:35px;
    background:url(../images/exit.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    top:-160px;
    float:right;
}
.fixed_menu{
    position:fixed;
    border-top:1px solid#a08d7c;
    background:#fff;
    left:0;
    right:0;
    bottom:0;
    height:6rem;
    z-index:100
}
.fixed_menu ul{
    display:flex;
    justify-content:center;
    margin-left:35px;
    margin-right:35px;
}
.fixed_menu li{
    padding:30px 11.5% 30px 11.5%;
}
.f_m1{
    display:block;
    width:41px;
    height:33px;
    background:url(../images/fm_menu.png)no-repeat;
    text-indent:-9999px;
}
.f_m2{
    display:block;
    width:30px;
    height:30px;
    background:url(../images/fm_home.png)no-repeat;
    text-indent:-9999px;
}
.f_m3{
    display:block;
    width:36px;
    height:30px;
    background:url(../images/fm_wish.png)no-repeat;
    text-indent:-9999px;
}
.f_m4{
    display:block;
    width:34px;
    height:32px;
    background:url(../images/fm_my.png)no-repeat;
    text-indent:-9999px;
}
.content form{
    margin-left:16%;
}
.qna_set{
    border:none;
    padding:0;
}
.writer{
    font-weight:500;
    margin-top:10px;
    margin-bottom:10px;
}
.writer span{
    margin-left:15px;
    font-weight:normal;
}
.n_content{
    width:80%;
    height:300px;
    border-radius:6px;
    border:1px solid#393939;
    margin-bottom:30px
}
.answer{
    width:85px;
    height:25px;
    border-radius:5px;
    border:1px  solid#7f9601;
    position:relative;
    top:36px;
    margin-left:120px
}
.answer1{
    display:none
}
.writer2{
    margin-top:10px;
    margin-bottom:10px;
}
.n_answer{
    width:80%;
    height:300px;
    border-radius:6px;
    border:1px solid#393939;
    margin-bottom:30px
}
.btn button{
    width:38%;
    height:40px;
    border:none;
    border-radius:5px;
    box-sizing:border-box;
    font-weight:bold;
    cursor:pointer
}
.back_btn{
    margin-right:4%;
    background:#a08d7c;
    color:#fff;
}
.ok_btn{
    background:#7f9601;
    color:#fff;
}
/* footer */
.footer{
    margin-top:50px;
    font-size:14px;
    clear: both;
}
.cs{
    display:block;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-left:35px
}
.cs::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.customer ul{
    color:#9c9a9b;
    padding:25px 0 25px 60px;
    /* display:none; */
}
.customer li{
    line-height:25px;
}
.customer li a{
    color:#9c9a9b;
}
.f_info h2{
    display:block;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-top:30px;
    margin-left:35px
}
.comp::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.f_info1{
    margin-top:30px;
    color:#a08d7c;
    text-align:center;
    line-height:20px
}
.f_link{
    margin-top:30px;
}
.f_link ul{
    display:flex;
    justify-content:space-evenly;
}
.f_link li a{
    color:#a08d7c;
}
.sns ul{
    display:flex;
    justify-content:center;
}
.sns li{
    padding:30px 10px;
    margin-bottom:100px;
}