.header{
    height:70px;
    border-top:2px solid#393939;
    box-sizing:border-box;
    background:#393939;
    margin:auto;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1;
}
.logo{
    width:150px;
    height:41px;
    margin:15px auto 0;
}
.logo a{
    display:block;
    width:150px;
    height:41px;
    background:url(../images/m_logo.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    z-index:1;
}
.gnb0{
    display:none
}
.gnb_wrap{
    position:absolute;
    width:100%;
    height:2000px;
    left:0;top:-2px;
    background:#393939;
    z-index:10;
    /* 숨기기 */
    display:none
}
.back{
    width:33px;
    height:25px;
    background:url(../images/shop/back.png)no-repeat;
    text-indent:-9999px;
    position:absolute;
    left:3%;top:22px;
    z-index:1;
}
.gnb{
    margin-top:207px;
    margin-left:3%;
    margin-right:3%;
}
.gnb a{
    color:#fff
}
.menu{
    margin-top:20px;
}
.menu li{
    margin-left:5%;
    font-size:26px;
    font-weight:500
}
#shop_cate{
    display:none;
}
#shop_cate a{
    margin-left:50px;
    font-size:16px;
    color:#999;
}
.gnb1_more{
    position:absolute;
    right:5%;
    top:205px;
    width:23px;
    height:24px;
    cursor:pointer;
}
.gnb2{
    margin-top:30px;
}
.user_menu{
    font-size:18px;
    font-weight:500;
    margin-top:-170px
}
.user_menu li{
    float:left;
    margin-right:30px
}
.search_box1{
    clear:both
}
.search_box1 fieldset{
    border:none;
    padding:0
}
.search_box1 button{
    width:25px;
    height:25px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    position:relative;
    top:-32px;
    cursor:pointer;
    float:right
}
.search_box1 input{
    margin-top:60px;
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    background:#393939;
    border:0 none;
    border-bottom:2px solid#fff;
    outline:0 none
}
.gnb_exit{
    display:block;
    width:22px;
    height:22px;
    background:url(../images/exit.png)no-repeat;
    text-indent:-9999px;
    position:relative;
    top:-155px;
    float:right;
}
.fixed_menu{
    position:fixed;
    border-top:1px solid#393939;
    background:#fff;
    left:0;
    right:0;
    bottom:0;
    height:5rem;
    z-index:100
}
.fixed_menu ul{
    display:flex;
    justify-content:center;
    margin-left:5%;
    margin-right:5%;
}
.fixed_menu li{
    padding:25px 11.5% 25px 11.5%;
}
.f_m1{
    display:block;
    width:24px;
    height:20px;
    background:url(../images/login/fm_menu.png)no-repeat;
    text-indent:-9999px;
    margin-top:4px
}
.f_m2{
    display:block;
    width:25px;
    height:25px;
    background:url(../images/login/fm_home.png)no-repeat;
    text-indent:-9999px;
}
.f_m3{
    display:block;
    width:29px;
    height:24px;
    background:url(../images/login/fm_wish.png)no-repeat;
    text-indent:-9999px;
    margin-top:2px
}
.f_m4{
    display:block;
    width:27px;
    height:25px;
    background:url(../images/login/fm_my.png)no-repeat;
    text-indent:-9999px;
}
.sch_menu{
    position:relative;
    top:-35px;
    display:flex;
    justify-content:right;
}
.search{
    display:block;
    width:30px;
    height:30px;
    background:url(../images/search.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    margin-right:3%;
    margin-top:0
}
.cart{
    display:block;
    width:30px;
    height:30px;
    background:url(../images/m_cart.png)no-repeat;
    text-indent:-9999px;
    margin-right:3%;
}
.search_box2{
    width:100%;
    box-sizing:border-box;
    position:absolute;
    top:69px;
    border-bottom:1px solid#a08d7c;
    /* 숨기기 */
    display:none;
}
.search_box2 form{
    width:100%;
    height:210px;
    box-sizing:border-box;
    box-shadow:5px 2px 3px gray;
    background:#fff;
    position: relative;
    z-index:1;
}
.search_box2 fieldset{
    border:none;
    padding:0;
    margin-left:60px;
    margin-right:60px;
}
.search_box2 input{
    width:100%;
    height:40px;
    font-size:14px;
    box-sizing:border-box;
    border:0 none;
    border-bottom:2px solid#000;
    outline:0 none;
    margin-top:60px;

}
.search_box2 button{
    width:30px;
    height:30px;
    background:url(../images/search_black.png)no-repeat;
    text-indent:-9999px;
    border:0 none;
    cursor:pointer;
    float:right;
    position:relative;
    top:-35px;
}
.popular{
    margin-top:20px
}
.popular p{
    margin-top:10px;
}
.popular a{
    margin-left:20px;
    font-size:13px;
}
.sch_exit{
    display:block;
    width:20px;
    height:20px;
    background:url(../images/exit_black.png)no-repeat;
    text-indent:-9999px;
    background-size:cover;
    position:absolute;
    margin-top:-155px;
    right:3%
}
.shop{
    margin-top:70px;
    border-top:1px solid#000
}
.shop h2{
    border-bottom:1px solid#000;
    padding-top:15px;
    padding-bottom:15px;
    font-size:30px;
    font-weight:500;
    text-align:center
}
.shop ul{
    border-bottom:1px solid#000;
    font-size:16px;
    display:flex;
    justify-content:center;
    align-content:flex-start;
    flex-wrap:wrap;
    overflow:auto;
}
.shop li{
    margin:12px 15px 12px 15px;
}
.perfume{
    clear:both;
    width:100%;
    margin-top:50px;
    font-size:13px;
    line-height:20px;
    /* margin-left:35px;
    margin-right:35px; */
    text-align:center;
}
/* .perfume img{
    width:100%;
} */
.perfume_img{
    width:100%;
    cursor:pointer
}
.p_wish{
    width:34px;
    height:28px;
    margin-top:12px;
    margin-left:-85px;
    cursor:pointer
}
.perfume h3{
    font-size:14px;
    font-weight:500;
    margin-top:5px;
    cursor:pointer
}
.perfume p{
    color:#999
}
.perfume span{
    font-size:14px;
}
del{
    color:#999;
}
.perfume1{
    display:flex;
}
.p_cart{
    width:24px;
    height:30px;
    margin-top:10px;
    margin-left:15px;
    cursor:pointer
}
.perfume1_wrap{
    float:left;
    width:40%;
    display:inline-block;
    margin:0 5% 3% 5%;
}
.perfume2_wrap{
    float:left;
    width:40%;
    display:inline-block;
    margin:0 5% 3% 5%;
}
.topbtn #toTop{
    display:block;
    position:fixed;
    bottom:140px;
    right:5%;
    overflow:hidden;
    z-index: 10;
}
#toTop{
    transition:all 0.3s ease-out;
}
#toTop:hover{
    transform:translateY(-5px);
}
.footer{
    position:relative;
    z-index:0;
    top:50px;
    font-size:14px;
    clear: both;
}
.cs{
    display:block;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-left:35px
}
.cs::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.customer ul{
    color:#9c9a9b;
    padding:25px 0 25px 60px;
    /* display:none; */
}
.customer li{
    line-height:25px;
}
.customer li a{
    color:#9c9a9b;
}
.f_info h2{
    display:block;
    position:relative;
    color:#292929;
    font-size:14px;
    margin-top:30px;
    margin-left:35px
}
.comp::after{
    content:"";
    text-align:center;
    transform:rotate(-180deg);
    transition:transform 120ms 200ms ease-out;
    display:block;
    position:absolute;
    right:35px;
    top:10px;
    width:23px;
    height:13px;
    background:url(../images/cs_down.png)no-repeat 50% 50%;
    background-size:auto 10px;
}
.on::after{
    transform:rotate(0deg);
    transition:transform 120ms 200ms ease-out;
}
.f_info1{
    margin-top:30px;
    color:#a08d7c;
    text-align:center;
    line-height:20px
}
.f_link{
    margin-top:30px;
}
.f_link ul{
    display:flex;
    justify-content:space-evenly;
}
.f_link li a{
    color:#a08d7c;
}
.f_link li a:hover{
    color:#393939
}
.sns ul{
    display:flex;
    justify-content:center;
}
.sns li{
    padding:30px 10px;
    margin-bottom:100px;
}
@media screen and (max-width:767px){
    .sch_exit{
        margin-top:-175px;
    }
    .p_wish{
        width:17px;
        height:14px;
        margin-top:12px;
        margin-left:-55px;
    }
    .p_cart{
        margin-top:12px;
        margin-left:5px;
    }
    .p_cart img{
        width:12px;
        height:15px;
    }
    .sns li{
        margin-bottom:100px;
    }
}