body{
    color:#393939;
}
.header{
    height:103px;
    border-top:2px solid#fff;
    box-shadow:2px 1px 6px 1px gray;
    box-sizing:border-box;
    background:#fff;
    margin:auto;
    position:relative
}
.logo{
    width:150px;
    height:41px;
    margin:31px auto 0;
}
.logo a{
    display:block;
    width:150px;
    height:41px;
    background:url(../images/login/logo.png)no-repeat;
    text-indent:-9999px
}
.back_menu ul{
    display:flex;
    margin-top:-40px;
    margin-left:35px;
}
.back{
    display:block;
    width:45px;
    height:35px;
    background:url(../images/login/back.png)no-repeat;
    text-indent:-9999px;
    margin-right:30px;
}
.home{
    display:block;
    width:30px;
    height:30px;
    background:url(../images/login/home.png)no-repeat;
    text-indent:-9999px
}
.join{
    margin-top:80px
}
.join h2{
    font-size:20px;
    font-weight:500;
    text-align:center;
    margin-bottom:35px;
}
.join_form{
    margin-left:35px;
    margin-right:35px
}
.join_form fieldset{
    border:none;
    padding:0
}
.txt1{
    font-weight:500;
    color:#aaa;
    margin-bottom:30px;
}
button{
    margin-top:50px;
    width:100%;
    height:45px;
    background:#393939;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    margin-top:30px;
    margin-bottom:70px;
    cursor:pointer
}
.welcome{
    text-align:center;
    font-weight:500;
    margin-bottom:30px;
}